* {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


html {
  background-color: ghostwhite;
}
body {
  color: #444;
}

input, textarea {
  border: 1px solid transparent;
  padding: 5px 10px;
  outline: none;
  display: block;
  width: 100%;
  background-color: papayawhip;
/*  margin-bottom: 10px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
     -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, .1);*/
}


input:focus, textarea:focus {
  /*border: 1px solid #db4c3f;*/
  background-color: #fbebd0;
}

.input-icon{
  position: absolute;
  top: 0;
  right: 12px;
  line-height: 30px;
  
}

.input-icon span {
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

.input-icon span:hover {
  color: DarkSeaGreen;
}

.input-icon button {
  padding: 0 2px;
  border: none;
  outline: none;
  background-color: transparent;
}

.input-icon .add {
  margin-right: 5px;
}

button.primary {
  display: block;
  width: 96%;
  margin: 8px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #f7f3ea;
  background-color: #eb6159;
}

.form-wrap {
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
     -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.wrap {
  max-width: 500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar, .header {
  text-align: center;
}

.navbar {
  background: #5AB5B2;
  color: #f7f3ea;
  padding: 10px 0;
}

.navbar h1 {
  font-size: 22px;
  margin: 5px;
}

.header {
  padding: 20px 0;
  color: #555;
  font-size: 18px;
}

#alert-sound {
  display: none;
}

.task-list .item {
  padding: 5px;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}

.task-list .item .item-icon {
  display: none;
  cursor: pointer;
}

.item-icon i {
  color: #aaa;
  padding: 5px;
}

.check, .completed .check:hover{
  cursor: pointer;
  font-size: 22px;
  color: #cacaca; 
}

.check:hover {
  color: #3e9bd2;
}

.completed .check {
  color: #70777b;
}


.item-icon {
  float: right;
}

.item-icon .desc:hover {
  color: #f9cf2e/*DarkSeaGreen*/;
}

.item-icon .edit:hover {
  color: Dodgerblue;
}

.item-icon .remove:hover {
  color: Tomato;
}


.task-list .item:hover {
  background: rgba(0, 0, 0, .04);
}

.task-list .item:hover .item-icon {
  display: inline-block;
}

.task-list .item .title {
  padding: 10px;
}

.task-list .item .detail {
  display: block;
  margin-top: 5px;
  padding-left: 45px;
  font-size: 80%;
  color: #666;
}

.detail p {
  margin: 0;
  padding: 10px 0 10px 10px;
  /*padding-left: 10px;*/
  font-size: 16px;
}

.task-list .item > * {
    padding: 5px;
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}


.segment-title {
    color: #aaa;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.completed .title {
  text-decoration:line-through;
}

::-webkit-scrollbar {/*隐藏滚动条*/
display: none;
}