<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js清单列表</title>
  <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

<div id="main">
  <div class="navbar">
    <h1>Vue.js 清单列表</h1>
  </div>
  <div class="header">
    <p>开黑了么就写作业？</p>
  </div>
  <form @submit.prevent="merge" id="task-form">
    <div class="wrap">
      <input v-model="current.title" id="task-input" type="text" autocomplete="off"></input>
      <button type="submit">submit</button>
    </div>
  </form>
  <div class="task-list">
    <div class="wrap">
      待办事项
      <div v-for="(todo, index) in list" class="item">
        {{ todo.title }}
        <button @click="set_current(todo)">修改</button>
        <button @click="remove(index)">删除</button>
      </div>
    </div>
  </div>
  <div class="task-list">
    <div class="wrap">
      已完成事项
      <div class="completed item">
        <p>已完成list</p>
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script src="js/myStorage.js"></script>
<script src="js/main.js"></script>
</body>
</html>
